// dove scriveremo tutte quelle regole comuni
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.flex_center{@include center_flex}
.d_flex{
    display: flex;
}

body {
    width: $vw;
    margin: auto;
    font-family: $Roboto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $primary_font_color;
}

