.hero{
    padding: 67px 0;
    .hero_img {
        width: 50%;
        img{width: 100%;}
    }
    .hero_text{
        width: 50%;
        flex-direction: column;
        h1 {
            font-size: $font_size_h1;
            line-height: $line_h;
        }
        .sub_title {
            font-size: $font_size_sub_herotx;
            line-height: $line_h_small;
            padding: 20px 0;
        }
        div.buttons{padding: 35px 0;}
        .btn.blue{
            @include btn_def;
            border-color: $button_blue;
            background-color: $button_blue;
            color: white;
            font-size: $font_size_nav;
            padding: 6px 10px ;
            &:hover {
                color: $button_blue;
                background-color: white;
                border: 1px solid $button_blue;
            }
        }
    }

}