// dove inseriremo tutte le nostre variabili
/*Palette*/
$google_blue : #2D4892;
$primary_font_color: #58402c;

$vw: 80vw;

$Roboto: 'Roboto', sans-serif;
// nav 
$font_size_nav: 14px;
$font_weight_nav: 700;
// Hero
$font_size_h1: 50px;
$font_size_sub_herotx: 22px;
$line_h: 5rem; //applicato a: div.hero_text > h1
$line_h_small: 2rem; //applicato a: div.hero_text > h1


